    <tr class="record">
      <td><%= f.text_field :content, :class => 'form-control' %></td>
      <td><%= f.select :content_type, ["V", "O", "X", "C", "S", "L", "A", "_", "T", "D", "B", "P"], {}, :class => 'form-control' %></td>
      <td><%= f.number_field :quantity, in: 1...100, :class => 'form-control' %></td>
      <td><%= f.number_field :parts_cost, in: 0...1000000, :class => 'form-control' %></td>
      <td><%= f.number_field :man_hour, in: 0...100, :class => 'form-control' %></td>
      <td><%= f.number_field :pay, in: 0...100000000, :class => 'form-control' %></td>
      <td><%= f.hidden_field :_destroy %><%= link_to "削除", '#', class: "remove_fields btn btn-danger" %></td>
    </tr>
