<%= form_for @work, :html => { :class => "form-horizontal work" } do |f| %>

  <% if @work.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @work.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <h3><%= f.label :works , "header" %></h3>
  <div class="form-group">
    <%= f.label :shop_id, :class => 'control-label col-xs-2' %>
    <div class="form-inline">
      <%= f.collection_select :shop_id, Shop.all, :id, :name, {}, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :work_date, :class => 'control-label col-xs-2' %>
    <div class="form-inline">
      <%= f.date_field :work_date, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :work_segment , :class => 'control-label col-xs-2' %>
    <div class="form-inline">
      <label class="radio-inline"><%= f.radio_button :work_segment, '1'%>点検</label>
      <label class="radio-inline"><%= f.radio_button :work_segment, '2'%>修理</label>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :frame_id , :class => 'control-label col-xs-2' %>
    <div class="form-inline">
      <%= f.collection_select :frame_id, Frame.all, :id, :frame_number, {}, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :milege , :class => 'control-label col-xs-2' %>
    <div class="form-inline">
      <%= f.text_field :work_date, :class => 'form-control' %>
    </div>
  </div>

  <h3><%= f.label :contents , "detail" %></h3>
  <table class="table">
    <tr>
      <th>内容</th>
      <th>区分</th>
      <th>数量</th>
      <th>部品代</th>
      <th>工数</th>
      <th>工賃</th>
      <th>#</th>
    </tr>
    <%= f.fields_for :contents do |builder| %>
      <%= render "content_fields", f: builder %>
    <% end %>
    <tr>
    <td colspan="7"><%= link_to_add_fields "行追加", f, :contents %></td>
    </tr>
  </table>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            works_path, :class => 'btn btn-default' %>

<% end %>
