<%- model_class = Work -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:shop_id) %>:</strong></dt>
  <dd><%= @work.shop_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:work_date) %>:</strong></dt>
  <dd><%= @work.work_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:work_segment) %>:</strong></dt>
  <dd><%= @work.work_segment %></dd>
  <dt><strong><%= model_class.human_attribute_name(:frame_id) %>:</strong></dt>
  <dd><%= @work.frame_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mileage) %>:</strong></dt>
  <dd><%= @work.mileage %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              works_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_work_path(@work), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              work_path(@work),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
