<%= form_for @frame, :html => { :class => "form-horizontal frame" } do |f| %>

    <% if @frame.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@frame.errors.count, "error") %> prohibited this frame from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @frame.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :registration_number1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :registration_number1, :class => 'form-control' %>
    </div>
    <%= error_span(@frame[:registration_number1]) %>
  </div>
  <div class="control-group">
    <%= f.label :registration_number2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :registration_number2, :class => 'form-control' %>
    </div>
    <%= error_span(@frame[:registration_number2]) %>
  </div>
  <div class="control-group">
    <%= f.label :registration_number3, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :registration_number3, :class => 'form-control' %>
    </div>
    <%= error_span(@frame[:registration_number3]) %>
  </div>
  <div class="control-group">
    <%= f.label :frame_number1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :frame_number1, :class => 'form-control' %>
    </div>
    <%= error_span(@frame[:frame_number1]) %>
  </div>
  <div class="control-group">
    <%= f.label :frame_number2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :frame_number2, :class => 'form-control' %>
    </div>
    <%= error_span(@frame[:frame_number2]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            frames_path, :class => 'btn btn-default' %>

<% end %>
