<% provide(:title, 'Sign up') %>
<h1>新規車台登録</h1>
<%= form_for(@frame) do |f| %>
  <% if @frame.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @frame.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<section class="container form-horizontal">
    <div class="form-group form-inline">
      <label class="col-sm-2 control-label">登録番号</label>
      <div class="col-sm-10">
	      <%= f.text_field :registration_number1, :class => "form-control" %>
	      <%= f.text_field :registration_number2, :class => "form-control" %>
	      <%= f.text_field :registration_number3, :class => "form-control" %>
	    </div>
    </div>
    <div class="form-group form-inline">
      <label class="col-sm-2 control-label">車台番号</label>
	    <div class="col-sm-10">
      <%= f.text_field :frame_number1, :class => "form-control" %>
      <%= f.text_field :frame_number2, :class => "form-control" %>
	    </div>
    </div>
</section>
<div>
<%= f.submit "登録する", class: "btn btn-large btn-primary" %>
</div>
<% end %>
