<%- model_class = Frame -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:registration_number1) %></th>
      <th><%= model_class.human_attribute_name(:registration_number2) %></th>
      <th><%= model_class.human_attribute_name(:registration_number3) %></th>
      <th><%= model_class.human_attribute_name(:frame_number1) %></th>
      <th><%= model_class.human_attribute_name(:frame_number2) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @frames.each do |frame| %>
      <tr>
        <td><%= link_to frame.id, frame_path(frame) %></td>
        <td><%= frame.registration_number1 %></td>
        <td><%= frame.registration_number2 %></td>
        <td><%= frame.registration_number3 %></td>
        <td><%= frame.frame_number1 %></td>
        <td><%= frame.frame_number2 %></td>
        <td><%=l frame.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_frame_path(frame), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      frame_path(frame),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_frame_path,
            :class => 'btn btn-primary' %>
