<%- model_class = Frame -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:registration_number1) %>:</strong></dt>
  <dd><%= @frame.registration_number1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:registration_number2) %>:</strong></dt>
  <dd><%= @frame.registration_number2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:registration_number3) %>:</strong></dt>
  <dd><%= @frame.registration_number3 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:frame_number1) %>:</strong></dt>
  <dd><%= @frame.frame_number1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:frame_number2) %>:</strong></dt>
  <dd><%= @frame.frame_number2 %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              frames_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_frame_path(@frame), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              frame_path(@frame),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
